.container {
  width: 600px;
  margin: 50px auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.headers {
  font-size: 24px;
  color: white;
  background-color: #082c38;
  padding: 10px;
  margin: 0;
}

.headers:hover {
  background-color: #39bced;
  color: #082c38 ;
  transition: all 0s;
}


p {
  transition: all ease 0.5s;
  margin: 0;
}

.content {
  font-size: 24px;
  padding: 20px 10px;
}

.hidden {
  height: 0px;
  overflow: hidden;
} 

.shown {
  font-size: 24px;
  padding: 20px 10px;
  overflow: hidden;
}


