.container {
  width: 600px;
  height: 300px;
  border: 1px solid blue;
  margin: 50px auto;
}

.headers {
  font-size: 20px;
  color: white;
  background-color: green;
  padding: 10px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;

}

p {
  transition: all 1s;
}

.content {
  font-size: 16px;
  padding: 10px;
}

.hidden {
  height: 0px;
  overflow: hidden;
} 

.shown {
  font-size: 16px;
  padding: 10px;
}


